// VARIABLES

$color-white: #fff;
$color-gray: #888;
$color-darkgray: #333;
$color-lightgray: #eee;
$color-orangered: #ff4500;
$color-blue: #5454FF;
$color-darkblue: #05508E;
$color-green: #3db150;

$spacer: 20px;
$spacer-sm: 10px;
$spacer-md: 30px;
$spacer-lg: 45px;

$fontSize-xs: 12px;
$fontSize-sm: 14px;
$fontSize-md: 17px;